<div class="section">
  <div class="corset full">
    <div class="box setting">
      <div class="header">
        <%= yield :headline %>
      </div>
      <div class="body">
        <%= body %>
      </div>
    </div>
    <br/>
    <br/>
  </div>
</div>
